In [1]:
import pandas as pd
import sqlite3
import openpyxl
import csv
import re

In [14]:
def excel_to_sqlite(excel_file, db_file):
    # Connect to SQLite database
    conn = sqlite3.connect(db_file)
    cursor = conn.cursor()
    
    cursor.execute("DROP TABLE IF EXISTS emissions")

    # Load the Excel workbook
    wb = openpyxl.load_workbook(excel_file, read_only=True)
    sheet = wb.active

    # Get column names from the first row
    columns = next(sheet.iter_rows(values_only=True))

    # Create table with dynamic column names
    create_table_sql = f'''CREATE TABLE IF NOT EXISTS emissions (
        {', '.join([f'"{col}" TEXT' for col in columns])}
    )'''
    cursor.execute(create_table_sql)

    # Prepare INSERT statement
    insert_sql = f'''INSERT INTO emissions VALUES (
        {', '.join(['?' for _ in columns])}
    )'''

    # Insert data
    for row in sheet.iter_rows(min_row=2, values_only=True):
        cursor.execute(insert_sql, row)

    conn.commit()
    conn.close()


def execute_query(db_file, query, fetch=True):
    conn = sqlite3.connect(db_file)
    cursor = conn.cursor()
    cursor.execute(query)
    if fetch:
        results = cursor.fetchall()
    else:
        results = None
        conn.commit()
    conn.close()
    return results

def get_column_names(db_file):
    query = "PRAGMA table_info(emissions)"
    columns = execute_query(db_file, query)
    return [col[1] for col in columns]

def get_unique_values(db_file, column):
    query = f'SELECT DISTINCT "{column}" FROM emissions'
    return execute_query(db_file, query)

def count_unique_values(db_file, column):
    query = f'SELECT COUNT(DISTINCT "{column}") FROM emissions'
    return execute_query(db_file, query)[0][0]

In [3]:
# excel_file = 'Emissions_Totals_E_All_Data.xlsx'
db_file = 'emissions.db'

# excel_to_sqlite(excel_file, db_file)

# # Get column names
# columns = get_column_names(db_file)
# print("Columns in the table:", columns)

# # Example usage for each column
# for column in columns:co
#     print(f"\nColumn: {column}")
#     unique_values = get_unique_values(db_file, column)
#     print(f"Sample unique values (up to 5): {unique_values[:5]}")
#     unique_count = count_unique_values(db_file, column)
#     print(f"Number of unique values: {unique_count}")

# # Example of getting unique combinations of two columns
# if len(columns) >= 2:
#     query = f'SELECT DISTINCT "{columns[0]}", "{columns[1]}" FROM emissions LIMIT 5'
#     unique_combinations = execute_query(db_file, query)
#     print(f"\nSample unique combinations of {columns[0]} and {columns[1]}:")
#     for combo in unique_combinations:
#         print(combo)

def filter_columns(db_file):
    # Get current column names
    columns = execute_query(db_file, "PRAGMA table_info(emissions)")
    columns = [col[1] for col in columns]

    # Filter columns
    keep_columns = [col for col in columns if not col.startswith('Y') or col == 'Y2021']

    # Create new table with filtered columns
    create_table_sql = f'''CREATE TABLE emissions_filtered (
        {', '.join([f'"{col}" TEXT' for col in keep_columns])}
    )'''
    execute_query(db_file, create_table_sql, fetch=False)

    # Copy data to new table
    copy_data_sql = f'''INSERT INTO emissions_filtered 
        SELECT {', '.join([f'"{col}"' for col in keep_columns])}
        FROM emissions'''
    execute_query(db_file, copy_data_sql, fetch=False)

    # Drop old table and rename new table
    execute_query(db_file, "DROP TABLE emissions", fetch=False)
    execute_query(db_file, "ALTER TABLE emissions_filtered RENAME TO emissions", fetch=False)

# Use the function to filter columns
filter_columns(db_file)

In [4]:
def inspect_table(db_file, table_name, limit=5):
    # Get column names
    columns = execute_query(db_file, f"PRAGMA table_info({table_name})")
    column_names = [col[1] for col in columns]
    print(f"Columns in {table_name}:")
    print(", ".join(column_names))
    print("\nSample data:")

    # Get sample data
    sample_data = execute_query(db_file, f"SELECT * FROM {table_name} LIMIT {limit}")
    
    # Print sample data
    for row in sample_data:
        print(row)

    # Get row count
    row_count = execute_query(db_file, f"SELECT COUNT(*) FROM {table_name}")[0][0]
    print(f"\nTotal number of rows: {row_count}")

# Use the function to inspect the table
inspect_table(db_file, 'emissions')

Columns in emissions:


Sample data:

OperationalError: no such table: emissions

In [ ]:
execute_query(db_file, f"SELECT * FROM countryCode LIMIT 10")

In [6]:
execute_query(db_file, f"SELECT DISTINCT(Unit) FROM emissions")

OperationalError: no such table: emissions

### Trade Emissions Data

In [7]:
import sqlite3
import pandas as pd
import csv

def csv_to_sqlite(csv_file, db_file, table_name='tradeEmissions'):
    # Read CSV file using pandas, with missing values handled
    df = pd.read_csv(csv_file, encoding='utf-8', na_values=[''], keep_default_na=True)
    
    # Replace NaN with None for SQLite compatibility
    df = df.where(pd.notnull(df), None)

    # Connect to SQLite database
    conn = sqlite3.connect(db_file)
    
    # Write the data to a sqlite table
    df.to_sql(table_name, conn, if_exists='replace', index=False)
    
    conn.close()
    print(f"Data imported successfully into table '{table_name}'")

    # Print some information about the imported data
    print(f"Number of rows imported: {len(df)}")
    print(f"Columns: {', '.join(df.columns)}")

    # Print first few rows
    print("\nFirst few rows of data:")
    print(df.head().to_string())

# Usage
csv_file = 'TradeData_10_17_2024_13_19_5_cleaned_dropped_zero_cost_countries.csv'
csv_to_sqlite(csv_file, db_file)

Data imported successfully into table 'tradeEmissions'
Number of rows imported: 19562
Columns: refYear, countryCode, countryISO, partnerCountryCode, partnerCountryISO, HSCode, cmdCode, motCode, Units, netWeight, grossWeight, cifvalue, costPerKg

First few rows of data:
   refYear countryCode countryISO partnerCountryCode partnerCountryISO  HSCode                                                   cmdCode    motCode Units  netWeight   grossWeight      cifvalue  costPerKg
0     2023         ARG  Argentina                W00             World   20130  Meat; of bovine animals, boneless cuts, fresh or chilled  TOTAL MOT    kg   69700.15  7.642760e+05  7.087275e+05  10.168235
1     2023         ARG  Argentina                ARG         Argentina   20130  Meat; of bovine animals, boneless cuts, fresh or chilled  TOTAL MOT    kg   69700.15  7.642760e+05  7.087275e+05  10.168235
2     2023         AUS  Australia                W00             World   20130  Meat; of bovine animals, boneless cuts, fresh or chilled  TOTAL MOT    kg  472097.08  1.176214e+07  1.069612e+07  22.656605
3     2023         AUS  Australia                AUS         Australia   20130  Meat; of bovine animals, boneless cuts, fresh or chilled  TOTAL MOT    kg   52778.78  8.326905e+05  8.231955e+05  15.597091
4     2023         AUS  Australia                JPN             Japan   20130  Meat; of bovine animals, boneless cuts, fresh or chilled  TOTAL MOT    kg  111349.30  7.954896e+06  7.044398e+06  63.263966

In [9]:
execute_query(db_file, f"""SELECT "motCode" FROM tradeEmissions""")

[('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('Air',),
 ('Air',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('Road',),
 ('Road',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('Air',),
 ('Air',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('Road',),
 ('Road',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('Air',),
 ('Air',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('Air',),
 ('Air',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('Air',),
 ('Air',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Air',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Sea',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Road',),
 ('Postal consignments, mail or courier shipment',),
 ('Postal consignments, mail or courier shipment',),
 ('Postal consignments, mail or courier shipment',),
 ('Postal consignments, mail or courier shipment',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ('TOTAL MOT',),
 ...]

## Geo Location Table

In [17]:
def csv_to_sqlite(csv_file, db_file, table_name='countryDistance'):
    # Read CSV file using pandas, with missing values handled
    df = pd.read_csv(csv_file, encoding='utf-8', na_values=[''], keep_default_na=True)
    
    # Replace NaN with None for SQLite compatibility
    df = df.where(pd.notnull(df), None)

    # Connect to SQLite database
    conn = sqlite3.connect(db_file)
    
    # Write the data to a sqlite table
    df.to_sql(table_name, conn, if_exists='replace', index=False)
    
    conn.close()
    print(f"Data imported successfully into table '{table_name}'")

    # Print some information about the imported data
    print(f"Number of rows imported: {len(df)}")
    print(f"Columns: {', '.join(df.columns)}")

    # Print first few rows
    print("\nFirst few rows of data:")
    print(df.head().to_string())

# Usage
csv_file = 'country-distances.csv'
csv_to_sqlite(csv_file, db_file)

Data imported successfully into table 'countryDistance'
Number of rows imported: 235
Columns:  , ABW, AFG, AGO, AIA, ALB, AND, ARE, ARG, ARM, ASM, ATA, ATF, ATG, AUS, AUT, AZE, BDI, BEL, BEN, BES, BFA, BGD, BGR, BHR, BHS, BIH, BLM, BLR, BLZ, BMU, BOL, BRA, BRB, BTN, BWA, CAF, CAN, CCK, CHE, CHL, CHN, CIV, CMR, COD, COG, COK, COL, COM, CPV, CRI, CUB, CUW, CXR, CYM, CYP, CZE, DEU, DJI, DMA, DNK, DOM, DZA, ECU, EGY, ERI, ESH, ESP, EST, ETH, FIN, FJI, FRA, FRO, FSM, GAB, GBR, GEO, GGY, GHA, GIB, GIN, GLP, GMB, GNB, GNQ, GRC, GRD, GRL, GTM, GUF, GUM, GUY, HKG, HND, HRV, HTI, HUN, IDN, IMN, IND, IOT, IRL, IRN, IRQ, ISL, ISR, ITA, JAM, JEY, JOR, JPN, KAZ, KEN, KGZ, KHM, KIR, KNA, KWT, LBN, LBR, LBY, LCA, LIE, LKA, LSO, LTU, LUX, LVA, MAC, MAR, MCO, MDA, MDG, MDV, MEX, MHL, MKD, MLI, MLT, MMR, MNE, MNG, MNP, MOZ, MRT, MSR, MTQ, MUS, MWI, MYS, MYT, NAM, NCL, NER, NFK, NGA, NIC, NIU, NLD, NOR, NPL, NRU, NZL, OMN, PAK, PAN, PCN, PER, PHL, PLW, PNG, POL, PRI, PRT, PRY, PSE, PYF, QAT, REU, ROU, RUS, RWA, SAU, SDN, SEN, SGP, SGS, SHN, SJM, SLB, SLE, SLV, SMR, SOM, SPM, SRB, SSD, STP, SUR, SVK, SVN, SWE, SWZ, SYC, SYR, TCA, TCD, TGO, THA, TJK, TKL, TKM, TLS, TON, TTO, TUN, TUR, TUV, TWN, TZA, UGA, UKR, URY, USA, UZB, VCT, VEN, VNM, VUT, WLF, WSM, YEM, ZAF, ZMB, ZWE

First few rows of data:
                 ABW           AFG          AGO           AIA          ALB          AND           ARE           ARG           ARM           ASM           ATA           ATF           ATG           AUS          AUT           AZE           BDI          BEL          BEN           BES          BFA           BGD          BGR           BHR           BHS          BIH           BLM          BLR           BLZ           BMU           BOL           BRA           BRB           BTN           BWA          CAF           CAN           CCK          CHE           CHL           CHN          CIV          CMR           COD          COG           COK           COL           COM          CPV           CRI           CUB           CUW           CXR           CYM           CYP          CZE          DEU           DJI           DMA          DNK           DOM          DZA           ECU           EGY           ERI          ESH          ESP          EST           ETH          FIN           FJI          FRA          FRO           FSM          GAB          GBR           GEO          GGY          GHA                 GIB          GIN           GLP          GMB          GNB          GNQ          GRC           GRD          GRL           GTM           GUF           GUM           GUY           HKG           HND          HRV           HTI          HUN           IDN          IMN           IND           IOT          IRL           IRN           IRQ          ISL           ISR          ITA           JAM          JEY           JOR           JPN           KAZ           KEN           KGZ           KHM           KIR           KNA           KWT           LBN          LBR          LBY           LCA          LIE           LKA           LSO          LTU          LUX          LVA           MAC          MAR          MCO          MDA           MDG           MDV           MEX           MHL          MKD          MLI          MLT           MMR          MNE           MNG           MNP           MOZ          MRT           MSR           MTQ           MUS           MWI           MYS           MYT           NAM           NCL          NER           NFK          NGA           NIC           NIU          NLD          NOR           NPL           NRU                 NZL           OMN           PAK           PAN           PCN           PER           PHL           PLW           PNG          POL           PRI          PRT                 PRY           PSE           PYF           QAT           REU          ROU          RUS           RWA           SAU           SDN          SEN           SGP           SGS          SHN          SJM           SLB          SLE           SLV          SMR           SOM          SPM          SRB           SSD          STP           SUR          SVK          SVN          SWE           SWZ           SYC           SYR           TCA          TCD          TGO           THA           TJK           TKL           TKM           TLS           TON           TTO          TUN          TUR           TUV                 TWN           TZA           UGA          UKR           URY           USA           UZB           VCT           VEN           VNM           VUT           WLF           WSM           YEM           ZAF           ZMB           ZWE
0  ABW      0.000000  13252.562557  9500.724683    973.535120  9085.425408  7565.414510  12767.098434   5360.114081  11105.217199  11491.150358  12107.711689  14544.737136   1011.870432  15237.370034  8712.378022  11499.880410  11113.900307  7837.934198  7959.192111    191.464477  7417.965560  15468.737554  9343.130030  12298.151260   1587.705810  8923.997713    969.018436  9379.853629   2033.162114   2263.897873   3435.713843   4732.219324   1127.108081  15068.112646  11175.246077  9755.210589   3570.953989  18608.081709  8132.456771   5089.999857  15011.986015  7099.489751  8801.851632  10567.889226  9607.050104  10491.276805    985.500675  12788.397193  5024.476030   1566.069572   1759.823403    123.484943  19501.457448   1429.621911  10398.881288  8552.496539  8466.377690  12178.677957    977.955181  8399.401519    660.253295  7681.581183   1964.895965  10377.380535  11617.437265  6112.226260  7112.981272  9082.027815  11800.203441  9077.052546  12699.097332  7677.486897  7399.174094  14902.364274  8860.706120  7534.270847  11055.737570  7331.885361  7692.490190   6927.278793645536  6149.853272   1003.329464  5777.345163  5907.946369  8859.444336  9484.036190    897.323509  5907.380003   2233.227847   2114.697140  15222.197254   1443.923887  16126.426668   1873.564240  8710.324736    710.798424  8920.083239  19229.200821  7297.340104  14654.869789  15884.237245  7163.152914  11874.219597  11418.900851  6816.749021  10681.184535  8473.404451    948.740490  7358.249827  10739.640070  13827.482999  12975.279509  11874.111392  12892.961739  17281.600762  12914.585314    941.695862  11937.355060  10629.242159  6524.750306  8635.735905    986.125377  8205.295631  16055.322634  11403.269350  9215.372377  7957.466550  9095.068705  16142.880764  6699.044330  8047.687063  9658.726468  13331.651258  15590.354022   3206.870774  12907.238282  9204.889204  6717.516948  8710.332500  16424.487773  9020.151963  13302.524351  15031.959739  11860.444409  5813.223206    960.501310    991.191777  14380.930530  11810.548879  17772.198137  13017.750210  10247.246327  13972.300856  7790.091405  13788.557642  8063.436586   1769.599765  11493.401370  7887.231114  8292.522859  14824.052836  13619.504338   13080.86611122956  13146.904937  13786.431956   1113.889901   7734.403424   2827.160916  16772.799606  16537.775732  15963.182719  8984.489861    777.120375  6626.828411   4394.691885443914  10682.245498   9357.999892  12428.713532  14167.074003  9521.120495  9933.169672  11155.847989  12017.616372  10952.614091  5678.029922  18335.529548   8049.832765  7743.934444  8546.895786  14575.249170  6217.852940   2085.769042  8453.433809  12710.357935  4011.464670  9074.106095  11151.800125  8565.983084   1786.470408  8767.417223  8594.107089  8707.084937  11747.232023  13976.071947  10685.458807    995.711980  9199.881826  7833.083754  16916.697681  12919.143148  11573.149008  12262.870180  18276.216989  12071.645997    948.450037  8316.447544  9840.880391  12470.394460  15665.182939500435  12265.940109  11375.302417  9673.668383   5448.376594   3147.434733  12731.125385    953.217628    407.254233  17394.630809  13764.066135  12057.320301  11596.227190  12153.647425  10635.960050  11252.792271  11587.659716
1  AFG  13252.562557      0.000000  7592.695548  12295.402341  4344.887482  5809.607175   1685.264881  15269.257992   2264.595710  13650.655759  13902.833028   9291.372945  12302.762054  11414.556270  4570.444618   1820.580112   5911.626356  5420.226533  7486.907983  13169.249339  7481.800222   2381.770581  4043.184372   2005.881138  12527.805801  4437.816405  12307.990047  3878.436142  13771.673443  11172.423483  14968.080990  13758.579593  12467.321395   2100.964281   7985.891230  6186.344993  10776.961321   5935.726206  5161.209439  16336.600522   4852.487939  8123.886367  6981.208970   5919.123522  7084.972103  15037.228366  14220.199908   5803.199600  9326.138977  14338.794292  12954.540562  13218.502545   6291.618580  13287.708321   3257.580136  4711.733652  4786.646883   3660.842713  12419.661704  4861.304528  12725.873149  5870.886684  15213.205852   3585.065109   3696.531633  7703.334032  6295.111070  4239.549259   4195.303332  4259.546179  12874.971908  5594.223377  5964.835749   8877.573307  7249.996108  5719.945825   2268.361951  5930.849314  7775.884543  6598.9723646475495  8766.967638  12348.430550  8810.201555  8799.850988  7122.370809  4062.821231  12710.338702  7910.881649  14157.089847  12504.994899   7868.923435  12845.403112   4571.190350  14077.363263  4610.321502  12865.778458  4370.869926   5999.466010  5959.293786   1751.380705   4650.800231  6091.365029   1621.191327   2288.333977  6662.093336   3167.883722  4938.697896  13173.222163  5906.790937   3095.945833   6282.040108   1178.493725   5206.362004   1038.479465   4420.387103  11191.574696  12349.727700   2081.861419   3090.033754  8700.159672  5125.247365  12498.348346  5091.779036   3246.362946   8314.674400  4045.718453  5309.728882  4186.164288   4519.628077  6901.673777  5311.575272  3626.185158   6342.713152   3390.369203  13906.603989  10675.656759  4203.902940  8058.227839  4916.874973   3327.006070  4377.739040   3449.353489   7853.488806   7728.442158  8461.982305  12355.474648  12453.407926   6177.494839   6542.819488   4627.929927   5815.909663   8380.117301  12022.424988  7079.599862  12521.864979  7392.569208  14229.336655  13992.747148  5365.869306  5016.991981   1713.328608  10756.286968  13463.706723843039   1586.774041   1085.563143  14174.629247  17890.038966  15795.431506   5622.259108   7293.519636   9521.780710  4268.346204  12479.597782  6798.308316  14848.235101554495   3165.870459  15748.213107   1984.562198   6302.038440  3816.546347  3370.347544   5741.826899   2425.058283   4218.541524  8796.191877   5147.379038  14015.913972  9676.546566  5467.396435  10672.101334  8789.246006  14201.931980  4905.563751   4364.479419  9477.258427  4264.123236   5076.993721  7493.238471  12672.977393  4515.856180  4722.402873  4599.298159   7842.378004   4565.841055   2901.970533  12528.619300  5984.093870  7610.970530   3900.232571    446.112638  13136.039887   1040.693579   7609.542352  13618.715542  12805.023709  5261.458778  3583.396747  12379.714219   5113.822929492803   5553.152138   5368.098738  3580.196018  15084.834389  10862.721256    747.728934  12582.312572  13213.101745   4615.406201  11930.663622  13090.899638  13527.156291   3279.105626   9242.212938   7017.607917   7060.695339
2  AGO   9500.724683   7592.695548     0.000000   8894.790019  5594.945971  5808.941318   5917.159476   7777.930733   6309.127205  17411.816974  10241.595959   6908.485567   8742.341581  13535.270604  6326.358714   6623.316513   1883.884378  6668.150848  2065.566326   9309.454528  2857.818624   9120.833837  5797.851835   5598.942500  10484.620841  5857.136909   8865.473053  7082.074662  11514.472340   9416.735393   8289.472080   6559.438421   8409.702035   9144.238930   2208.064478  1574.396801  10895.933859   9130.691358  6242.459080   8911.792030  12250.331709  2733.110241  1477.729250   1681.625176   553.911568  16595.453324   9801.967876   3302.345273  4832.401887  10979.838891  10968.537637   9380.046481  10106.761297  10817.557314   5310.777471  6528.860269  6798.914615   4008.084801   8649.970389  7149.954673   9618.641433  5157.553969  10326.349618   4716.519500   3896.481207  4899.012493  5724.464202  7638.266137   3449.941556  7720.180000  16613.281880  6478.953877  8044.224355  15475.270582  1103.360441  6808.071683   6458.439194  6638.694683  2180.608675   5346.244292142102  3609.990285   8685.924881  4109.698487  3927.112231  1244.310201  5295.879103   8611.311423  9714.963279  11732.989276   7433.901242  14732.535681   8107.010416  11503.519744  11371.986881  6058.724935   9863.355470  6266.178430  10307.852160  7175.940317   7234.215922   6525.234641  7131.585897   6350.595000   5715.857592  8612.646286   5066.324539  5617.321164  10319.693107  6600.304902   5120.085259  13852.221794   8626.980982   2743.199548   8436.660777  10393.673713  17639.903986   8838.014037   5619.754921   5281.427374  3148.533257  4616.111286   8578.169361  6213.773081   7593.276394   2712.013698  7129.633375  6511.801439  7358.970561  11439.956340  5187.414868  5851.059959  6376.181524   3863.150413   6841.954573  12678.699009  17619.795116  5690.303973  3340.971092  4953.013889   9553.282777  5710.947752  11004.157245  14826.918551   2788.649620  4378.861519   8772.215321   8600.076436   4916.619588   2312.478422  10012.910963   3523.537350   1573.272773  15502.724323  2760.631158  15019.625637  2012.613073  11244.867590  16899.524095  6828.821874  7624.765910   8739.271937  16936.244379  14593.215256969943   6101.309745   6929.205608  10469.192599  14555.006447   9843.456293  12162.134077  13564.358411  14542.201464  6806.851126   9215.482063  5752.066584   7680.384028173724   5068.544472  16537.546919   5609.219640   4718.114323  6039.870240  7505.973819   2013.076411   5192.868058   3435.721603  4270.701870  10107.908531   6685.838309  2203.491255  9664.748826  15823.067655  3504.490991  11580.407661  5848.071271   3760.030292  9194.297706  5984.682346   2537.361315  1244.884360   7762.314614  6323.615301  6080.289023  7569.283646   2736.260371   4687.946283   5579.623911   9796.003996  2324.736980  2126.450655   9956.128963   7776.931385  17982.300295   6984.890009  12290.075586  16564.533013   8552.742628  5063.794624  5749.828078  17545.108901  12267.073017382472   2879.378681   2372.282011  6778.712531   7579.984205  10415.024552   7960.691347   8581.313382   9127.152398  10567.405666  16001.483832  17350.882991  17438.154618   4339.161563   2828.661088   1791.381489   2169.266415
3  AIA    973.535120  12295.402341  8894.790019      0.000000  8111.936087  6591.882815  11797.582285   5867.656461  10134.035979  12335.378909  12861.834749  14610.897806    177.079068  16207.614338  7744.458843  10531.796560  10389.493725  6876.138127  7208.055385    873.847083  6611.342757  14551.618032  8369.847068  11330.750784   1659.941873  7950.963049     41.789306  8431.407935   2663.657070   1577.559760   3982.355854   4952.909253    675.736843  14162.042780  10741.022932  8980.944575   3215.150681  17776.481675  7162.642442   5775.051357  14512.274218  6357.837311  8055.406020   9814.136462  8937.246177  11402.391402   1924.953183  12122.769028  4228.201798   2445.831418   2083.815118    924.733103  18535.453898   1934.156611   9427.657001  7588.467640  7509.278200  11284.322008    368.475357  7454.221256    733.126572  6714.437747   2917.909311   9416.775166  10708.939919  5184.584912  6140.162698  8157.665462  10934.375287  8156.808314  13560.670805  6710.883702  6499.432936  15253.841255  8155.975652  6575.505589  10086.617769  6367.789347  6958.340439    5961.11837341105  5406.177619    271.426075  4991.067327  5138.010168  8136.934971  8512.128282    696.034701  5176.864772   2956.045182   1876.330589  15359.654527   1370.019524  15513.406552   2620.894128  7738.761664    980.923115  7951.252280  18294.657119  6350.715277  13681.401665  15073.860061  6214.157848  10901.627518  10446.140429  5960.029558   9714.218130  7499.937531   1453.669051  6393.329597   9771.940574  13577.299181  12071.513615  11105.657030  11978.904088  16459.588044  13530.494129    107.959457  10967.259597   9658.822081  5815.708877  7677.007142    516.101321  7235.173576  15092.740296  11035.808421  8268.933963  6992.209342  8157.896487  15517.861980  5740.169139  7074.329728  8691.348291  12757.919658  14659.438295   3797.366506  13429.834932  8231.370404  5921.011874  7743.523794  15518.618596  8046.654532  12612.737705  15153.609678  11427.395440  4967.207243    181.591019    452.040504  13811.225238  11201.169687  16872.110747  12361.189943   9813.657064  14861.663364  6964.884213  14727.742983  7308.578149   2579.134193  12377.108542  6930.108039  7368.661508  13895.202231  14232.345701  14048.742541508575  12177.256693  12813.019057   2050.757159   8698.472225   3681.924197  16347.234908  16593.643909  16628.404612  8027.705295    323.334747  5655.231162     4850.0809429206   9715.242776  10262.763941  11462.235072  13612.146482  8549.358217  8999.626487  10413.877877  11057.221434  10055.262670  4874.712079  17422.957566   8421.964592  7332.672194  7774.867083  15295.409912  5487.111025   2839.172019  7480.233147  11885.134340  3229.978985  8101.941276  10338.625565  7871.015975   1613.001710  7799.476299  7622.708511  7780.108498  11325.463296  13188.251879   9712.484700    919.617255  8362.203710  7087.987451  16040.517859  11972.434720  12359.396426  11297.785657  18598.361557  12964.380919    854.022330  7348.572082  8867.405326  13235.513763  15192.125362173821  11551.268193  10602.622710  8715.208472   5923.628699   2705.098052  11794.532155    593.198987    949.165376  16601.574937  14610.029750  12882.443919  12434.627974  11234.495290  10369.917631  10679.299892  11038.903154

In [12]:
execute_query(db_file, f"""
    select ABW from countryDistance
    Limit 10""")

[(0.0,),
 (13252.562556919602,),
 (9500.724683275826,),
 (973.5351203846636,),
 (9085.425408426994,),
 (7565.414509724316,),
 (12767.098434098489,),
 (5360.114080711346,),
 (11105.217199030116,),
 (11491.1503575087,)]

## attach country codes to distance

In [19]:
def transform_distance_matrix(db_file):
    # First drop the normalized table if it exists
    drop_table_query = """
    DROP TABLE IF EXISTS normalized_distances;
    """
    execute_query(db_file, drop_table_query, fetch=False)
    
    # Create the normalized table with the correct structure
    create_table_query = """
    CREATE TABLE normalized_distances (
        origin_country TEXT,
        destination_country TEXT,
        distance FLOAT
    );
    """
    execute_query(db_file, create_table_query, fetch=False)
    
    # Get column names using pragma
    columns_query = """
    SELECT name FROM pragma_table_info('countryDistance');
    """
    columns = [row[0] for row in execute_query(db_file, columns_query, fetch=True)]
    columns = columns[1:]  # Remove the first column name since it's the row identifier
    
    # For each country pair, insert into normalized_distances
    for origin_country in columns:
        insert_query = f"""
        INSERT INTO normalized_distances (origin_country, destination_country, distance)
        SELECT 
            '{origin_country}' as origin_country,
            [0] as destination_country,
            [{origin_country}] as distance
        FROM countryDistance;
        """
        try:
            execute_query(db_file, insert_query, fetch=False)
        except Exception as e:
            print(f"Error inserting data for {origin_country}: {str(e)}")
            continue
    
    # Create index for better performance
    index_query = """
    CREATE INDEX idx_orig_dest ON normalized_distances(origin_country, destination_country);
    """
    execute_query(db_file, index_query, fetch=False)

def get_trade_emissions_with_distances(db_file):
    query = """
    SELECT 
        t.*,
        nd.distance
    FROM tradeEmissions t
    LEFT JOIN normalized_distances nd
        ON t.countryCode = nd.origin_country 
        AND t.partnerCountryCode = nd.destination_country;
    """
    return execute_query(db_file, query)

# Usage:
db_file = "your_database.db"  # Replace with your database file path

# First transform the matrix
transform_distance_matrix(db_file)

# Then get the results
results = get_trade_emissions_with_distances(db_file)

Error inserting data for ABW: no such column: 0
Error inserting data for AFG: no such column: 0
Error inserting data for AGO: no such column: 0
Error inserting data for AIA: no such column: 0
Error inserting data for ALB: no such column: 0
Error inserting data for AND: no such column: 0
Error inserting data for ARE: no such column: 0
Error inserting data for ARG: no such column: 0
Error inserting data for ARM: no such column: 0
Error inserting data for ASM: no such column: 0
Error inserting data for ATA: no such column: 0
Error inserting data for ATF: no such column: 0
Error inserting data for ATG: no such column: 0
Error inserting data for AUS: no such column: 0
Error inserting data for AUT: no such column: 0
Error inserting data for AZE: no such column: 0
Error inserting data for BDI: no such column: 0
Error inserting data for BEL: no such column: 0
Error inserting data for BEN: no such column: 0
Error inserting data for BES: no such column: 0
Error inserting data for BFA: no such column: 0
Error inserting data for BGD: no such column: 0
Error inserting data for BGR: no such column: 0
Error inserting data for BHR: no such column: 0
Error inserting data for BHS: no such column: 0
Error inserting data for BIH: no such column: 0
Error inserting data for BLM: no such column: 0
Error inserting data for BLR: no such column: 0
Error inserting data for BLZ: no such column: 0
Error inserting data for BMU: no such column: 0
Error inserting data for BOL: no such column: 0
Error inserting data for BRA: no such column: 0
Error inserting data for BRB: no such column: 0
Error inserting data for BTN: no such column: 0
Error inserting data for BWA: no such column: 0
Error inserting data for CAF: no such column: 0
Error inserting data for CAN: no such column: 0
Error inserting data for CCK: no such column: 0
Error inserting data for CHE: no such column: 0
Error inserting data for CHL: no such column: 0
Error inserting data for CHN: no such column: 0
Error inserting data for CIV: no such column: 0
Error inserting data for CMR: no such column: 0
Error inserting data for COD: no such column: 0
Error inserting data for COG: no such column: 0
Error inserting data for COK: no such column: 0
Error inserting data for COL: no such column: 0
Error inserting data for COM: no such column: 0
Error inserting data for CPV: no such column: 0
Error inserting data for CRI: no such column: 0
Error inserting data for CUB: no such column: 0
Error inserting data for CUW: no such column: 0
Error inserting data for CXR: no such column: 0
Error inserting data for CYM: no such column: 0
Error inserting data for CYP: no such column: 0
Error inserting data for CZE: no such column: 0
Error inserting data for DEU: no such column: 0
Error inserting data for DJI: no such column: 0
Error inserting data for DMA: no such column: 0
Error inserting data for DNK: no such column: 0
Error inserting data for DOM: no such column: 0
Error inserting data for DZA: no such column: 0
Error inserting data for ECU: no such column: 0
Error inserting data for EGY: no such column: 0
Error inserting data for ERI: no such column: 0
Error inserting data for ESH: no such column: 0
Error inserting data for ESP: no such column: 0
Error inserting data for EST: no such column: 0
Error inserting data for ETH: no such column: 0
Error inserting data for FIN: no such column: 0
Error inserting data for FJI: no such column: 0
Error inserting data for FRA: no such column: 0
Error inserting data for FRO: no such column: 0
Error inserting data for FSM: no such column: 0
Error inserting data for GAB: no such column: 0
Error inserting data for GBR: no such column: 0
Error inserting data for GEO: no such column: 0
Error inserting data for GGY: no such column: 0
Error inserting data for GHA: no such column: 0
Error inserting data for GIB: no such column: 0
Error inserting data for GIN: no such column: 0
Error inserting data for GLP: no such column: 0
Error inserting data for GMB: no such column: 0
Error inserting data for GNB: no such column: 0
Error inserting data for GNQ: no such column: 0
Error inserting data for GRC: no such column: 0
Error inserting data for GRD: no such column: 0
Error inserting data for GRL: no such column: 0
Error inserting data for GTM: no such column: 0
Error inserting data for GUF: no such column: 0
Error inserting data for GUM: no such column: 0
Error inserting data for GUY: no such column: 0
Error inserting data for HKG: no such column: 0
Error inserting data for HND: no such column: 0
Error inserting data for HRV: no such column: 0
Error inserting data for HTI: no such column: 0
Error inserting data for HUN: no such column: 0
Error inserting data for IDN: no such column: 0
Error inserting data for IMN: no such column: 0
Error inserting data for IND: no such column: 0
Error inserting data for IOT: no such column: 0
Error inserting data for IRL: no such column: 0
Error inserting data for IRN: no such column: 0
Error inserting data for IRQ: no such column: 0
Error inserting data for ISL: no such column: 0
Error inserting data for ISR: no such column: 0
Error inserting data for ITA: no such column: 0
Error inserting data for JAM: no such column: 0
Error inserting data for JEY: no such column: 0
Error inserting data for JOR: no such column: 0
Error inserting data for JPN: no such column: 0
Error inserting data for KAZ: no such column: 0
Error inserting data for KEN: no such column: 0
Error inserting data for KGZ: no such column: 0
Error inserting data for KHM: no such column: 0
Error inserting data for KIR: no such column: 0
Error inserting data for KNA: no such column: 0
Error inserting data for KWT: no such column: 0
Error inserting data for LBN: no such column: 0
Error inserting data for LBR: no such column: 0
Error inserting data for LBY: no such column: 0
Error inserting data for LCA: no such column: 0
Error inserting data for LIE: no such column: 0
Error inserting data for LKA: no such column: 0
Error inserting data for LSO: no such column: 0
Error inserting data for LTU: no such column: 0
Error inserting data for LUX: no such column: 0
Error inserting data for LVA: no such column: 0
Error inserting data for MAC: no such column: 0
Error inserting data for MAR: no such column: 0
Error inserting data for MCO: no such column: 0
Error inserting data for MDA: no such column: 0
Error inserting data for MDG: no such column: 0
Error inserting data for MDV: no such column: 0
Error inserting data for MEX: no such column: 0
Error inserting data for MHL: no such column: 0
Error inserting data for MKD: no such column: 0
Error inserting data for MLI: no such column: 0
Error inserting data for MLT: no such column: 0
Error inserting data for MMR: no such column: 0
Error inserting data for MNE: no such column: 0
Error inserting data for MNG: no such column: 0
Error inserting data for MNP: no such column: 0
Error inserting data for MOZ: no such column: 0
Error inserting data for MRT: no such column: 0
Error inserting data for MSR: no such column: 0
Error inserting data for MTQ: no such column: 0
Error inserting data for MUS: no such column: 0
Error inserting data for MWI: no such column: 0
Error inserting data for MYS: no such column: 0
Error inserting data for MYT: no such column: 0
Error inserting data for NAM: no such column: 0
Error inserting data for NCL: no such column: 0
Error inserting data for NER: no such column: 0
Error inserting data for NFK: no such column: 0
Error inserting data for NGA: no such column: 0
Error inserting data for NIC: no such column: 0
Error inserting data for NIU: no such column: 0
Error inserting data for NLD: no such column: 0
Error inserting data for NOR: no such column: 0
Error inserting data for NPL: no such column: 0
Error inserting data for NRU: no such column: 0
Error inserting data for NZL: no such column: 0
Error inserting data for OMN: no such column: 0
Error inserting data for PAK: no such column: 0
Error inserting data for PAN: no such column: 0
Error inserting data for PCN: no such column: 0
Error inserting data for PER: no such column: 0
Error inserting data for PHL: no such column: 0
Error inserting data for PLW: no such column: 0
Error inserting data for PNG: no such column: 0
Error inserting data for POL: no such column: 0
Error inserting data for PRI: no such column: 0
Error inserting data for PRT: no such column: 0
Error inserting data for PRY: no such column: 0
Error inserting data for PSE: no such column: 0
Error inserting data for PYF: no such column: 0
Error inserting data for QAT: no such column: 0
Error inserting data for REU: no such column: 0
Error inserting data for ROU: no such column: 0
Error inserting data for RUS: no such column: 0
Error inserting data for RWA: no such column: 0
Error inserting data for SAU: no such column: 0
Error inserting data for SDN: no such column: 0
Error inserting data for SEN: no such column: 0
Error inserting data for SGP: no such column: 0
Error inserting data for SGS: no such column: 0
Error inserting data for SHN: no such column: 0
Error inserting data for SJM: no such column: 0
Error inserting data for SLB: no such column: 0
Error inserting data for SLE: no such column: 0
Error inserting data for SLV: no such column: 0
Error inserting data for SMR: no such column: 0
Error inserting data for SOM: no such column: 0
Error inserting data for SPM: no such column: 0
Error inserting data for SRB: no such column: 0
Error inserting data for SSD: no such column: 0
Error inserting data for STP: no such column: 0
Error inserting data for SUR: no such column: 0
Error inserting data for SVK: no such column: 0
Error inserting data for SVN: no such column: 0
Error inserting data for SWE: no such column: 0
Error inserting data for SWZ: no such column: 0
Error inserting data for SYC: no such column: 0
Error inserting data for SYR: no such column: 0
Error inserting data for TCA: no such column: 0
Error inserting data for TCD: no such column: 0
Error inserting data for TGO: no such column: 0
Error inserting data for THA: no such column: 0
Error inserting data for TJK: no such column: 0
Error inserting data for TKL: no such column: 0
Error inserting data for TKM: no such column: 0
Error inserting data for TLS: no such column: 0
Error inserting data for TON: no such column: 0
Error inserting data for TTO: no such column: 0
Error inserting data for TUN: no such column: 0
Error inserting data for TUR: no such column: 0
Error inserting data for TUV: no such column: 0
Error inserting data for TWN: no such column: 0
Error inserting data for TZA: no such column: 0
Error inserting data for UGA: no such column: 0
Error inserting data for UKR: no such column: 0
Error inserting data for URY: no such column: 0
Error inserting data for USA: no such column: 0
Error inserting data for UZB: no such column: 0
Error inserting data for VCT: no such column: 0
Error inserting data for VEN: no such column: 0
Error inserting data for VNM: no such column: 0
Error inserting data for VUT: no such column: 0
Error inserting data for WLF: no such column: 0
Error inserting data for WSM: no such column: 0
Error inserting data for YEM: no such column: 0
Error inserting data for ZAF: no such column: 0
Error inserting data for ZMB: no such column: 0
Error inserting data for ZWE: no such column: 0

OperationalError: no such table: tradeEmissions

In [22]:
countryDistance = pd.read_csv('country-distances.csv')
tradeEmission = pd.read_csv('TradeData_10_17_2024_13_19_5_cleaned_dropped_zero_cost_countries.csv')

In [24]:
def merge_trade_and_distances(trade_df, distance_df):
    # Convert distance matrix to long format
    long_distances = pd.melt(
        distance_df, 
        id_vars=distance_df.columns[0],  # First column contains country codes
        var_name='destination_country',
        value_name='distance'
    )
    
    # Rename the first column to 'origin_country'
    long_distances = long_distances.rename(columns={distance_df.columns[0]: 'origin_country'})
    
    # Merge trade data with distances
    result = trade_df.merge(
        long_distances,
        left_on=['countryCode', 'partnerCountryCode'],
        right_on=['origin_country', 'destination_country'],
        how='left'
    )
    
    return result

# Usage
result = merge_trade_and_distances(tradeEmission, countryDistance)

# Now result contains your trade emissions data with the distances added

In [81]:
country_result = result[~result['partnerCountryCode'].str.contains('\d', na = False)]
reduced_frame = result

,refYear,countryCode,countryISO,partnerCountryCode,partnerCountryISO,HSCode,cmdCode,motCode,Units,netWeight,grossWeight,cifvalue,costPerKg,distance
1,2023,ARG,Argentina,ARG,Argentina,20130,"Meat; of bovine animals, boneless cuts, fresh ...",TOTAL MOT,kg,69700.150,764276.010,708727.510,10.168235,0.0
3,2023,AUS,Australia,AUS,Australia,20130,"Meat; of bovine animals, boneless cuts, fresh ...",TOTAL MOT,kg,52778.780,832690.546,823195.459,15.597091,0.0
4,2023,AUS,Australia,JPN,Japan,20130,"Meat; of bovine animals, boneless cuts, fresh ...",TOTAL MOT,kg,111349.300,7954896.306,7044398.315,63.263966,7792.827411
5,2023,AUS,Australia,NZL,New Zealand,20130,"Meat; of bovine animals, boneless cuts, fresh ...",TOTAL MOT,kg,307969.000,2974549.422,2828523.346,9.184442,2161.0772232784225
7,2023,BOL,Bolivia (Plurinational State of),USA,USA,20130,"Meat; of bovine animals, boneless cuts, fresh ...",TOTAL MOT,kg,395.851,3922.000,3626.000,9.160012,6572.396345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19557,2023,ZMB,Zambia,IND,India,210390,Sauces and preparations therefor; mixed condim...,Other,kg,470.000,536.326,134.128,0.285379,6197.583155
19558,2023,ZMB,Zambia,ZAF,South Africa,210390,Sauces and preparations therefor; mixed condim...,Other,kg,3260.000,4031.164,1007.866,0.309161,2278.299176
19559,2023,ZMB,Zambia,ARE,United Arab Emirates,210390,Sauces and preparations therefor; mixed condim...,Other,kg,3610.000,4041.492,1010.389,0.279886,5369.146014
19560,2023,ZMB,Zambia,GBR,United Kingdom,210390,Sauces and preparations therefor; mixed condim...,Other,kg,10.000,173.815,43.489,4.348900,7908.901488
19561,2023,ZMB,Zambia,USA,USA,210390,Sauces and preparations therefor; mixed condim...,Other,kg,10.000,117.080,29.290,2.929000,12141.233605

In [73]:
country_result.loc[:, 'distance'] = country_result['distance'].astype(float)

In [76]:
hold = country_result[country_result['motCode']=='TOTAL MOT']
hold[hold['distance']<2000]

,refYear,countryCode,countryISO,partnerCountryCode,partnerCountryISO,HSCode,cmdCode,motCode,Units,netWeight,grossWeight,cifvalue,costPerKg,origin_country,destination_country,distance
1,2023,ARG,Argentina,ARG,Argentina,20130,"Meat; of bovine animals, boneless cuts, fresh ...",TOTAL MOT,kg,69700.15,7.642760e+05,7.087275e+05,10.168235,ARG,ARG,0.000000
3,2023,AUS,Australia,AUS,Australia,20130,"Meat; of bovine animals, boneless cuts, fresh ...",TOTAL MOT,kg,52778.78,8.326905e+05,8.231955e+05,15.597091,AUS,AUS,0.000000
9,2023,BRA,Brazil,ARG,Argentina,20130,"Meat; of bovine animals, boneless cuts, fresh ...",TOTAL MOT,kg,1779901.00,1.917127e+07,1.892741e+07,10.633968,BRA,ARG,1673.973600
10,2023,BRA,Brazil,PRY,Paraguay,20130,"Meat; of bovine animals, boneless cuts, fresh ...",TOTAL MOT,kg,20859060.00,1.214491e+08,1.205179e+08,5.777723,BRA,PRY,1131.967396
11,2023,BRA,Brazil,URY,Uruguay,20130,"Meat; of bovine animals, boneless cuts, fresh ...",TOTAL MOT,kg,1165246.00,1.157388e+07,1.149069e+07,9.861174,BRA,URY,1562.322026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,2023,URY,Uruguay,ARG,Argentina,210390,Sauces and preparations therefor; mixed condim...,TOTAL MOT,kg,3806170.00,6.374444e+06,6.165827e+06,1.619956,URY,ARG,202.985729
19336,2023,URY,Uruguay,BRA,Brazil,210390,Sauces and preparations therefor; mixed condim...,TOTAL MOT,kg,939693.75,1.801113e+06,1.672798e+06,1.780152,URY,BRA,1562.322026
19337,2023,URY,Uruguay,CHL,Chile,210390,Sauces and preparations therefor; mixed condim...,TOTAL MOT,kg,53793.61,2.231207e+05,2.010499e+05,3.737431,URY,CHL,1341.490584
19357,2023,ZMB,Zambia,MWI,Malawi,210390,Sauces and preparations therefor; mixed condim...,TOTAL MOT,kg,930.00,1.831630e+02,4.581400e+01,0.049262,ZMB,MWI,613.406560
19362,2023,ZMB,Zambia,SWZ,Eswatini,210390,Sauces and preparations therefor; mixed condim...,TOTAL MOT,kg,3.11,2.048200e+01,5.096000e+00,1.638585,ZMB,SWZ,1269.355560

8258 for total MOT
9537 for NOT total mot

In [47]:
test=country_result[country_result['countryCode'] != country_result['origin_country']]

In [56]:
test['partnerCountryCode'].unique()

array(['KOR', 'LAO', '_X ', 'UMI', 'SXM', 'PRK', 'XX '], dtype=object)

In [57]:
test['countryCode'].unique()

array(['AUS', 'ARG', 'BOL', 'BRA', 'CHL', 'CZE', 'CAN', 'CPV', 'COL',
       'GUY', 'LUX', 'MUS', 'MDG', 'ISL', 'MEX', 'PHL', 'PRY', 'ROU',
       'MOZ', 'SVK', 'ZAF', 'SRB', 'USA', 'TUR', 'TZA', 'URY', 'ZMB'],
      dtype=object)

In [54]:
sum(country_result['motCode']=='AUS')

0

In [67]:
# Get list of unique values
print(country_result['partnerCountryCode'].unique())

# Get count of unique values
print(country_result['partnerCountryCode'].nunique())

# Get value counts (shows how many times each unique value appears)
print(country_result['partnerCountryCode'].value_counts())

# Get value counts as percentages
print(country_result['partnerCountryCode'].value_counts(normalize=True))

# Sort value counts in ascending order (default is descending)
print(country_result['partnerCountryCode'].value_counts().sort_index())

# If you want to see both counts and percentages:
counts = country_result['partnerCountryCode'].value_counts()
percentages = country_result['partnerCountryCode'].value_counts(normalize=True)
summary = pd.DataFrame({
    'count': counts,
    'percentage': percentages
})
print(summary)

['ARG' 'AUS' 'JPN' 'NZL' 'USA' 'PRY' 'URY' 'BRA' 'CAN' 'ITA' 'ESP' 'DNK'
 'DEU' 'ISL' 'IRL' 'NLD' 'SWE' 'GBR' 'CHL' 'MEX' 'BEL' 'FRA' 'JOR' 'MYS'
 'IND' 'VNM' 'GRC' 'AUT' 'BGR' 'CYP' 'HUN' 'IRN' 'LVA' 'NOR' 'POL' 'PRT'
 'ROU' 'CHE' 'MKD' 'EGY' 'CHN' 'PER' 'MMR' 'BOL' 'COL' 'HKG' 'KEN' 'NPL'
 'THA' 'PAK' 'KHM' 'LKA' 'BGD' 'IDN' 'IRQ' 'KOR' 'LAO' 'NGA' 'SAU' 'SGP'
 'ZAF' 'ARE' 'TUR' 'ISR' 'BIH' 'HRV' 'CZE' 'ECU' 'FJI' 'DJI' 'GEO' 'KWT'
 'LBN' 'LTU' 'LUX' 'MLT' 'MUS' 'MDA' 'OMN' 'NER' 'PHL' 'RUS' 'SRB' 'SYR'
 'UKR' 'WSM' 'GIB' 'EST' 'GTM' 'ARM' 'COK' 'CRI' 'JAM' 'MLI' 'TLS' 'HND'
 'BHR' 'BLZ' 'ETH' 'GHA' 'CIV' 'NIC' 'SLE' 'TUN' 'SLV' '_X ' 'FIN' 'MAR'
 'UMI' 'SVK' 'BWA' 'SVN' 'SEN' 'GIN' 'BTN' 'UGA' 'ALB' 'DOM' 'GAB' 'ASM'
 'KAZ' 'KGZ' 'UZB' 'DZA' 'AZE' 'BHS' 'CMR' 'COG' 'COD' 'BEN' 'GUY' 'LBR'
 'LBY' 'MDG' 'TGO' 'TZA' 'BFA' 'VEN' 'PYF' 'DMA' 'HTI' 'LCA' 'TTO' 'MOZ'
 'ZWE' 'SWZ' 'SUR' 'VCT' 'TKM' 'YEM' 'AFG' 'AND' 'AGO' 'ATG' 'BRB' 'BLR'
 'GMB' 'MAC' 'NAM' 'NCL' 'AIA' 'ZMB' 'FRO' 'TKL' 'PNG' 'RWA' 'SPM' 'SDN'
 'GNB' 'MDV' 'TJK' 'ATF' 'SXM' 'NRU' 'CPV' 'PRK' 'SYC' 'COM' 'GRL' 'CUW'
 'MWI' 'GUM' 'MNE' 'XX ' 'PAN' 'LSO' 'ABW' 'MNG' 'IOT' 'SMR' 'STP' 'MHL'
 'SOM' 'PSE' 'BDI' 'MRT' 'QAT' 'SLB']
198
partnerCountryCode
ITA    625
USA    600
ESP    596
FRA    572
NLD    567
      ...
SPM      2
SLB      2
GUM      1
BDI      1
CUW      1
Name: count, Length: 198, dtype: int64
partnerCountryCode
ITA    0.035122
USA    0.033717
ESP    0.033493
FRA    0.032144
NLD    0.031863
         ...
SPM    0.000112
SLB    0.000112
GUM    0.000056
BDI    0.000056
CUW    0.000056
Name: proportion, Length: 198, dtype: float64
partnerCountryCode
ABW      2
AFG     15
AGO     15
AIA      2
ALB     49
      ...
YEM      8
ZAF    269
ZMB     31
ZWE     25
_X      91
Name: count, Length: 198, dtype: int64
                    count  percentage
partnerCountryCode
ITA                   625    0.035122
USA                   600    0.033717
ESP                   596    0.033493
FRA                   572    0.032144
NLD                   567    0.031863
...                   ...         ...
SPM                     2    0.000112
SLB                     2    0.000112
GUM                     1    0.000056
BDI                     1    0.000056
CUW                     1    0.000056

[198 rows x 2 columns]

## Tarrif Rates

In [ ]:
csv_file = 'tarrif_rates.csv'
csv_to_sqlite(csv_file, db_file, table_name="tarrif_rates")

In [ ]:
execute_query(db_file, f"""SELECT DISTINCT "Country Name" FROM tarrif_rates""")

In [ ]:
query_filter = f"""

SELECT 
    "Country Name", "Country Code", "Indicator Name", "Indicator Code", "2023"
FROM tarrif_rates
"""

execute_query(db_file, query_filter)

### FAO FOOD DATA

In [ ]:
execute_query(db_file, "DROP TABLE IF EXISTS FAOSTAT")

In [ ]:
csv_file = 'FAOSTAT_data.csv'
csv_to_sqlite(csv_file, db_file, table_name="FAOSTAT")

In [ ]:
execute_query(db_file, f"""SELECT * FROM FAOSTAT LIMIT 10""")