In [4]:
# SQL Practice

In [3]:
import sqlite3 as sql

In [6]:
CREATE TABLE student(id integer, name text)

SyntaxError: invalid syntax (3717002838.py, line 1)